<div class="container">
  <header>
    <div class="bc-vmiddle">
      <div class="title" align="center" >Blotter Chain </div>
      <div align="center">Lorem Ipsum is simply dummy text of the printing and typesetting </div>
      <div class="input-group">
        <input type="search" class="form-control" placeholder="Text input">
        <div class="input-group-btn">
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" aria-label="Left Align">
              <span class="glyphicon glyphicon-filter" aria-hidden="true"></span>
            </button>
        </div>
      </div>
    </div>
    </header>
</div>




